/* Styles de base */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f0f0f0;
    height: 100dvh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    font-weight: 700;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    position: relative;
    top: 10px;
    left: 5px;
    bottom: 0;
}

.participantsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.participantsForm .participantsForm_Inputs {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.participantsForm label {
    margin-top: 10px;
    margin-bottom: 15px;
}

.participantsForm input {
    width: 15%;
    padding: 5px;
    margin-bottom: 12px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    font-weight: 600;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

#genererParticipants {
    padding: 15px 30px;
    background-color: #04616A;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

#genererMatchs {
    padding: 15px 30px;
    background-color: #04616A;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin-left: 45%;
    border-radius: 4px;
    margin-top: 5%;

}

#exportMatchs {
    margin-top: 10px;
    width: auto;
    padding: 15px 30px;
    background-color: #1E9CA5;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}


#genererMatchs:hover {
    background-color: #1E9CA5;
    color: antiquewhite;
}

#listeParticipants {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}


#listeParticipants li {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;

}


/* #listeMatchs {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
} */

#listeMatchs {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    transform: translate(-25px, 0px);
}


.columns {
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

.columns h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

.matches {
    margin-top: 5%;
}

.matches h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

.column {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 25px;
}



.partie {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.partie h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
}

.card h3 {
    margin: 0;
    font-size: 16px;
    padding-bottom: 5px;
    color: #555;
}

.card span {
    font-size: 14px;
    color: #444;
    text-align: center;
}

.card .versus {
    margin-block: 12px;
}